.nav-bar{
  background-color:  rgb(235, 57, 196);
  height:60px;
  border-radius:20px;
  margin:10px;
  position:relative;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-right{ 
  display:flex;
  align-items: center;
  margin-left: 20px;
  justify-content: space-between;
 
}
.nav-bar-right h2{
  color:white;
}

.logo-img{
  height:60px;
}

.nav-bar-left{
  display: flex;
  margin-right:20px;
  color:aqua;
  display:flex;
  align-items: center;
  
  padding:5px;
  margin:20px;
  cursor:pointer;
  transition:1s;
}
.search-bar-input .input{
  border:3px solid grey ;
  border-radius: 10px;
  height:30px;
  width:150px;
  margin:10px;
}
.shadow{
  background-color: dark;
}

.search-icon{
  height:30px;
}

/*  *************** Body********************** */

.body{
  display:flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
  padding:20px;
}
.main-heading{
  margin: 0 auto;
  margin-top:20px;
  color:blue;
  padding:20px;
}
.search-bar-input{
  width:100%;
  align-items: center;
  margin: 0,auto;
  display: flex;
  flex-direction: column;
}
.search-bar-input .input{
  border:3px solid grey ;
  border-radius: 10px;
  height:25px;
  width:300px;
  margin:10px;
}

.fetch-btn{
  width: 60px;
  height: 30px;
  color:green;
  background-color: aqua;
  border-radius: 10px;
  border:2px solid;
  cursor:pointer;
  font-weight: 600;
   transition: 0.5s;
}
.fetch-btn:hover{
  background-color: rgb(109, 209, 33);
  color:white;
  width: 75px;
  height:35px;
  font-size: 20px;
  border:2px solid
}

.result-count{
  display:flex;
  flex-direction: column;
  justify-content: center;
}


/************ footer  ********/

.footer{
  display:flex;
  flex-direction: column;
  background-color: grey;
  justify-content: center;
  border-radius: 10px;
}
.ftr-imgs{
  display:flex;
  align-items: center;
  justify-content: center;
}
.footer-img{
  height:50px;
  width: 50px;
  margin:30px;
  border-radius: 10px;
}

.ftr-heading{
  display:flex;
  align-items: center;
  justify-content: center;
  color:white;
}

/* result card */


.result-card{
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: aqua;
  padding:20px;
  border:5px solid red;
  border-radius: 20px;
}
